<footer >
    <center>	
       <div style="font-weight: bold; font-size: 12px; color:white; background-color: #0a71b5;">
	Copyright &copy; 2019. Todos los derechos reservados. <a style="color: white;" href = "#">ACL Tecnologia</a>
 
	</div>
    </center>
</footer>