<link rel="stylesheet" href="pages/css/bootstrap.css">
<link rel="stylesheet" href="pages/css/MyStyle.css">
<script src="pages/js/bootstrap.js"></script>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
<script type="text/javascript" src="pages/js/jquery.Rut.js"></script>
<script type="text/javascript" src="pages/js/jquery-1.10.0.min.js"></script>



<header>
    
<center>
<img src="pages/Images/logo.png" alt="Projeto" width="25%" height="10%" class="img-responsive img-rounded" >

</center>
    
    </header>