    
<div id="header" >

<nav class = "dropdownmenu">
<ul>
        <li ><a href="Inicio.htm">Inicio</a></li>
        <li ><a href="#">Job1<b class="caret"></b></a>
            <ul id = "submenu">
                <li><a href = "Primer_Job.htm">Ejecutar todo el Job</a></b></a></li>
                <li><a href="#">Ejecutar Tarea 1</a></li>
            </ul>
        
        </li>
        
        <li ><a href="#">Job2<b class="caret"></b></a>
            <ul id = "submenu">
                <li><a href = "Segundo_Job.htm">Ejecutar todo el Job </a></li>
                <li><a href="#">Ejecutar Tarea 1</a></li>
            </ul>
        
        </li>
        
         <li ><a href="#">Job3<b class="caret"></b></a>
            <ul id = "submenu">
                <li><a href = "Tercer_Job.htm">Ejecutar todo el Job </a></li>
                <li><a href="#">Ejecutar Tarea 1</a></li>
            </ul>
        
        </li>
        
         <li ><a href="#">Job4<b class="caret"></b></a>
            <ul id = "submenu">
                <li><a href = "Cuarto_Job.htm">Ejecutar todo el Job </a></li>
                <li><a href="#">Ejecutar Tarea 1</a></li>
            </ul>
        
        </li>
        
        <li ><a href="#">Job5<b class="caret"></b></a>
            <ul id = "submenu">
                <li><a href = "Quinto_Job.htm">Ejecutar todo el Job </a></li>
                <li><a href="#">Ejecutar Tarea 1</a></li>
            </ul>
        
        </li>
        
     <li ><a href="#">Job6<b class="caret"></b></a>
            <ul id = "submenu">
                <li><a href = "Sexto_Job.htm">Ejecutar todo el Job </a></li>
                <li><a href="#">Ejecutar Tarea 1</a></li>
            </ul>
        
        </li>
        
         <li ><a href="#">Job7<b class="caret"></b></a>
            <ul id = "submenu">
                <li><a href = "Septimo_Job.htm">Ejecutar todo el Job </a></li>
                <li><a href="#">Ejecutar Tarea 1</a></li>
            </ul>
        
        </li>
        
        
    </ul>
   </nav>
        </div>
